<h1>hello {{myVar}}</h1>

<input type="text" value="{{myVar}}">

<ul>
  <li>{{myRec[0]}}</li>
  <li>{{myRec[1]}}</li>
  <li>{{myRec[2]}}</li>
</ul>

<li>{{myObj['name']}}</li>
<li>{{myObj['age']}}</li>

<li>{{myObj.name}}</li>
<li>{{myObj.age}}</li>

<p *ngIf="myVar1">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, laboriosam assumenda unde culpa aperiam eveniet sapiente est voluptatibus sequi. Veritatis delectus dolorem officia harum dolore voluptatibus omnis illo! Est, ad.
</p>

<p *ngIf="myVar1">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, laboriosam assumenda unde culpa aperiam eveniet sapiente est voluptatibus sequi. Veritatis delectus dolorem officia harum dolore voluptatibus omnis illo! Est, ad.
</p>

<p [hidden]="myVar2">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, laboriosam assumenda unde culpa aperiam eveniet sapiente est voluptatibus sequi. Veritatis delectus dolorem officia harum dolore voluptatibus omnis illo! Est, ad.
</p>






